:root {
    --fonte-principal: 'Roboto', sans-serif;

}

h2 {
    font-family: var(--fonte-principal);
}

p {
    font-family: var(--fonte-principal);
    color: #909090;
}

.barra_superior {
    padding: 5px;
}

.barra {
    display: flex;
}

.videos {
    padding-bottom: 15px;
}

.barra-inferior {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #e5e5e5;
}

.barra-item {
    display: flex;
    gap: .1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    font-family: var(--fonte-principal);
    font-size: .6rem;
    cursor: pointer;
}

.barra-item:hover {
    opacity: 75%;
    transition-duration: .7s;
}