:root {
    --fonte-principal: 'Roboto', sans-serif;
    --color-dark: #0F0F0F;
    --color-darkGrey: #606060;
}

h2 {
    font-family: var(--fonte-principal);
}

p {
    font-family: var(--fonte-principal);
    color: #909090;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    margin-left: 15px;
}

.icones {
    display: flex;
}

.icones img {
    padding: 1rem;
    width: 24px;
    height: 24px;
}


.barra {
    overflow-x: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 2rem;
}

.barra::-webkit-scrollbar {
    width: 0;
}

.bussola {
    width: 25px;
    height: 25px;
}

.destaques {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    font-family: var(--fonte-principal);
}

.destaques li:hover {
    opacity: 0.5;
}

.black {
    background-color: black;
    color: white;
    width: Hug (40px)px;
    height: Hug (32px)px;
    padding: 8px 12px 8px 12px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
}

.padrao {
    background-color: #F2F2F2;
    color: black;
    width: Hug (40px)px;
    height: Hug (32px)px;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
}

li {
    list-style-type: none;
    font-size: .9rem;
    font-weight: 400;
    line-height: 16.4px;
}

.barra_superior {
    padding: 5px;
}

.barra {
    display: flex;
}

.videos {
    padding-bottom: 15px;
}

.videos,
.capa_video {
    width: 100%;
}

.video-container {
    display: flex;
    gap: .8rem;
    padding: 8px 15px;
}

.video-container img {
    width: 36px;
    height: 36px;
}

.video-titulo {
    font-size: 1rem;
    font-weight: 400;
    line-height: 18.75px;
}

.video-visualizacoes {
    font-size: .8rem;
    font-weight: 400;
    line-height: 14.06px;
}

.video-info {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.shorts_youtube {
    padding-left: 1rem;
}

.shorts {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;

}

.shorts::-webkit-scrollbar {
    width: 0;

}

.scroll {
    display: flex;
    gap: 8px;
    padding: 16px 0px;
}

.scroll-videos {
    display: inline-block;
}

.scroll-videos img {
    border-radius: 10px;
}

.barra-inferior {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #e5e5e5;
}

.barra-item {
    display: flex;
    gap: .1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    font-family: var(--fonte-principal);
    font-size: .6rem;
    cursor: pointer;
}

.barra-item:hover {
    opacity: 75%;
    transition-duration: .7s;
}

.questionario {
    display: flex;
    flex-direction: column;
    padding: 14px 20px;
    gap: 10px;
}

button:hover {
    opacity: 0.5;
}

.questionario .titulo {
    font-size: 16px;
    color: var(--color-dark);
    font-weight: 400;
}

.questionario button {
    display: flex;
    align-items: center;
    align-self: stretch;
    border: 1px solid #909090;
    border-radius: 5px;
    height: 35px;
    padding: 10px;
    background: none;
}

.questionario .votos {
    color: var(--color-darkGrey);
    font-size: 14px;
    font-weight: 400;
}

.acoes {
    display: flex;
    align-items: center;
    gap: 13px;
    font-family: var(--fonte-principal);
    font-size: .8rem;
}

.acoes div {
    display: flex;
    align-items: center;
    margin-right: 155px;
}

.acoes button {
    border: none;
}

.comentarios {
    display: flex;
    justify-content: space-between;
}

.comentarios p {
    color: var(--color-dark);
}

.comentarios p span {
    color: #909090;
}

.comentario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding-top: 8px;
}

.comentario img {
    height: 24px;
}

.comentario input {
    width: 336px;
    height: 24px;
    padding: 8px 132px 8px 11px;
    border-radius: 10px;
    border: none;
    background: #F2F2F2;
}